<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="62096zbw.Blogg" Publisher="CN=ABEED4C3-095E-42CF-9B8B-80F751C88EF2" Version="1.2.2.5" />
  <Properties>
    <DisplayName>Blogg</DisplayName>
    <PublisherDisplayName>zbw</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.2</OSMinVersion>
    <OSMaxVersionTested>6.2.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Blogg.App">
      <VisualElements DisplayName="Blogg" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Blogger client for Windows 8." ForegroundText="light" BackgroundColor="orangeRed" ToastCapable="true">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="orange" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>